/* .form-container {
    margin: 20px;
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .passbook {
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    max-width: 500px;
    background-color: #f8f9fa;
  }
  
  .passbook h2 {
    text-align: center;
    color: #333;
  }
  
  .passbook-details {
    margin-top: 20px;
  }
  
  .passbook-details p {
    font-size: 18px;
    line-height: 1.5;
    margin: 10px 0;
  }
   */